table {
    margin: 0 auto;
    border: 2px solid #8D8B8B;
    margin-top: 60px;
}

td {
    width: 60px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    border: 1px solid rgba(58, 59, 58, 0.5);
}

td:first-child {
    border-left: solid;
}

td:nth-child(3n) {
    border-right: solid;
}

tr:first-child {
    border-top: solid;
}

tr:nth-child(3n) td {
    border-bottom: solid;
}

.center {
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

#alert {
    width: 150px;
    background-color: green;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    display: none;
}

.btn {
    background: #3498db;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #3cb0fd;
}